./venv
# .NET
**/bin/
**/obj/

# Python
**/__pycache__/
**/.pytest_cache/
training/python/.venv/

# Common
.env
gen

# Maven
**/target/
# VS Code / IDEs
.classpath
.project
.settings/
.idea/
*.iml
.fake